.enhance-table-container {
  .MuiPaper-root {
    background: none;
    border-radius: 10.684px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    &.border_dark{
      border: 1px solid #ffffff33;
    }
    &.border_light{
      border: 1px solid #00000033;
    }
    
    th {
      
      // color: rgba(255, 255, 255, 0.60);
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      &.text_color_3_dark{
        color: #ffffff99 !important;
        border-bottom: 1px solid #ffffff33;
        .Mui-active {
          color: #ffffff99;
  
          svg {
            color: #ffffff99;
          }
        }
      }
      &.text_color_3_light{
        color: #00000099 !important;
        border-bottom: 1px solid #00000033;
        .Mui-active {
          color: #00000099;
  
          svg {
            color: #00000099;
          }
        }
      }
      
    }

    td {
      font-size: 12.6px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      // padding: 8px 10px;
      

      &.is-green {
        color: #27AE60;
      }
      &.text_color_1_dark{
        color: #fff !important;
        border-bottom: 1px solid #ffffff33;
      }
      &.text_color_1_light{
        color: #000 !important;
        border-bottom: 1px solid #00000033;
      }
      button{
        border: none;
        padding: 8px 10px;
        line-height: 1;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 600;
        transition: all 0.3s ease;
        &:hover{
          filter: brightness(0.7);
        }
        &.bg_dark{
          background-color: #222;
        }
        &.bg_light{
          background-color: #ddd;
        }
        &.Pending{
          background-color: #f00;
        }
      }
    }
  }

  .show-btn-box {
    display: flex;
    justify-content: center;
    height: 50px;

    .btn-show {
      background: none;
      border: none;
      outline: none;

      span {
        background: linear-gradient(to right, #FF00FF, #FE511B);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: right;
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}