.stake-page-container {
  position: relative;
  .disabled-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .page-title {
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 16px;
  }

  .text-group {
    .MuiFormControl-root {
      width: 100%;
    }

    .MuiFormLabel-root {
      color: white;
    }

    .MuiInputAdornment-root {
      color: white;
    }

    input {
      color: white;
    }

    svg {
      color: white;
    }
  }

  .DateRangePicker__MonthHeader {
    color: white;
  }

  .DateRangePicker__MonthDates {
    thead {
      th {
        abbr {
          color: white;
        }
      }
    }

    .DateRangePicker__Date {
      border: none;

      span {
        color: white;
      }

      &.DateRangePicker__Date--is-highlighted {
        span {
          color: black;
        }
      }
    }

    .DateRangePicker__Date--weekend {
      background: none;
    }

  }

  .stake-info-container {
    .title {
      color: white;
      font-size: 14px;
      font-weight: 500;
    }

    .info-item {
      padding-left: 30px;
      display: flex;
      justify-content: space-between;

      span {
        color: hsla(0,0%,100%,.25);
        font-size: 14px;

        &.title {
          font-weight: 500;
          color: white;
        }
      }
    }
  }


}