@import "../../global.scss";
.transfer-page-container {
  padding-top: 56px;
  width: 100% !important;
  max-width: 100% !important;
  display: flex;
  padding-bottom: 80px;
  min-height: calc(100vh - 80px);
  box-sizing: border-box;
  &.dark{
    background: #060714;
  }
  &.light{
    background: #fff;
  }
  .content{
    width: 100%;
    display: flex;
    max-width: 1220px;
    margin: auto;
    grid-area: auto;
    gap : 24px;
    @include mobile_potrait{
      flex-direction: column;
    }
  }
  .col_div{
    display: flex;
    flex-direction: column;
    width: 50%;
    @include mobile_potrait{
      width: 100%;
    }
  }
  
  
  .page-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 91.667% */
    margin-bottom: 16px;
    text-align: center;
  }

  .input-container {
    border-radius: 12px;
    width: calc(100% - 64px);
    padding: 16px 32px;
    margin-bottom: 32px;
    &.dark{
      background: #ffffff0d;
      border: 1px solid #ffffff33;
    
    }
    &.light{
      background: #0000000d;
      border: 1px solid #00000033;
    
    }
    label {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.6;
    }

    .input-box {
      margin-top: 16px;
      position: relative;
      padding-bottom: 12px;
      position: relative;

      input {
        width: 100%;
        background: none;
        border: none;
        outline: none;

        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .btn-paste {
        background: none;
        border: none;
        outline: none;
        position: absolute;
        top: 0;
        right: 0;

        span {
          background: linear-gradient(to right, #FF00FF, #FE511B);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-align: right;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }

      }

      .span-unit {
        text-align: right;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        position: absolute;
        top: 1px;
        right: 65px;
      }
    }
  }

  .balance-info {
    label {
      color: rgba(255, 255, 255, 0.60);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    span {
      color: #FFF;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .btn-send {
    margin-top: 80px;
    outline: none;
    border-radius: 144px;
    background: linear-gradient(126deg, #F0F 0%, #FE511B 100%);
    border: none;

    display: flex;
    width: 100%;
    padding: 24px;
    justify-content: center;
    align-items: center;

    color: #FFF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.49px;
    @include mobile_potrait{
      margin-top: 46px;
    }
  }
}